{% load staticfiles %}
<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>暑期学堂</title>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static "app.css" %}"/>
    <style>
        a.btn{
            color: #6e5745;
        }
    </style>
</head>
<body>
    <header>
        <div class="top container">
            <img src="" alt="" class="logo"/>
            <img src="{% static 'img/logo.png'%}" class="pull-left"/>
            <div class="pull-right">
                <a href="http://www.uestc.edu.cn/">学校主页</a>
                <a href="http://www.new1.uestc.edu.cn/">新闻中心</a>
                <a href="http://www.new1.uestc.edu.cn/?n=UestcNews.Front.Category.Page&CatId=56">关注</a>
                <input type="text" placeholder="搜索" class="search"/>
            </div>
        </div>
        <div class="container text-center">
            <img src="{% static 'img/title.png' %}" class="title">
        </div>
    </header>
    <section>
        <div class="container">
            <div class="col-sm-5">
                <h1>NEWS</h1>
                <h1>新闻</h1>
                <div class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        {% for i in news%}
                        <div class="item active more">
                            <h3>{{i.title}}</h3>
                            <p style="text-spacing:wrap">{{i.get_intro}}...</p>
                            <a class="btn pull-right" href="news/{{i.pk}}">MORE</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        {% for i in news%}
                        <div class="item active">
                            <img src="{{i.get_pic}}" alt=""/>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dark">
        <h1>What is internatinal summer school?</h1>
        <h1>什么是暑期国际学堂？</h1>
    </section>
    <section class="normal">
        <h1>Curriculum</h1>
        <h1>课程</h1>
        <div class="container">
            <div class="courses grid">
                {%for i in teachers%}
                <div class="course">
                    <h5 class="course-title">{{i.course}}</h5>
                    <h5>{{i.school}}学院</h5>
                    <div class="hidden intro">
                        {{i.intro | safe}}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="whole_grid">
                <h5><a href="#">点击下载“2015暑期学校——国际课堂课程信息汇总”</a></h5>
            </div>
        </div>
    </section>
    <section class="light">
        <h1>Teacher</h1>
        <h1>师资</h1>
        <div class="grid">
            {%for i in teachers%}
            <div class="square" style="background-image: url({{ i.pic.url }})">
                <div class="teacher" >
                    <div class="mask">
                        <div class="center">
                            <h5>{{i.course}}</h5>
                            <h5>{{i.name}}</h5>
                        </div>
                    </div>
                    <div class="hidden intro">
                        {{i.intro | safe}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<footer>
    <div class="container">
        <p class="address"><a href="#" target="_blank">关于我们</a><a href="http://nav.uestc.edu.cn/" target="_blank">成电导航</a><a href="http://www.epptime.com/" target="_blank">卓拙科技</a><a href="https://cnssuestc.org/" target="_blank">凝聚网络安全工作室</a><a href="http://www.jg.uestc.edu.cn/" target="_blank">机关党委网</a><a href="http://www.univs.cn/" target="_blank">中国大学生在线</a></p>
        <p class="copy1">© 2012 电子科技大学新闻中心</p>
        <p class="grey">TEL:028-61831278 / 028-61830213(清水河校区)&nbsp;&nbsp;&nbsp;&nbsp;028-83202219(沙河校区)</p>
        <p class="grey"><a href="mailto:xwzx@uestc.edu.cn">xwzx@uestc.edu.cn</a></p>
        <div class="grey contact">
            <a href="#" target="_blank">
                <img src="{% static "img/footer-weixin.gif"%}">
                <i class="qrcode"><img src="{% static "img/erweima.jpg" %}"></i>
            </a>
            <a href="http://weibo.com/u/3982954755" target="_blank">
                <img src="{%static  "img/footer-weibo.gif"%}">
            </a>
            <a href="#" target="_blank">
                <img src="{%static  "img/footer-book.gif"%}">
                <i class="qrcode book"><img src="{%static  "img/bookQR.jpg"%}"></i>
            </a>
            <a href="#" target="_blank">
                <img src="{%static  "img/footer-rss.gif"%}">
            </a>
        </div>
    </div>
</footer>
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script>
    $(function(){
        $('.course').click(function(){
            var content = $(this).find('.intro').html();
            $('.modal').find('.modal-body').html(content)
            $('.modal').find('.modal-title').text('课程介绍:' + $(this).find('.course-title').text())
            $('.modal').modal('show');
        })
        $('.teacher').click(function(){
            var content = $(this).find('.intro').html();
            $('.modal').find('.modal-body').html(content);
            $('.modal').find('.modal-title').text('教师介绍:' + $(this).find('.course-title').text())
            $('.modal').modal('show');
        })
        $('.carousel').carousel({
            interval: false
        })
        setInterval(function(){
            $('.carousel').carousel('next');
        }, 5000)
    })

</script>
</body>
</html>
