header {
  background-image: url(img/bg.jpg);
  background-size: cover;
}
.top {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.top .pull-right {
  margin-top: 1.6rem;
}
.top .pull-right a {
  text-align: center;
  margin: 0;
  padding: 0 2rem;
  color: #432b23;
  text-decoration: none;
}
.top .pull-right a:hover {
  color: #432b23;
  font-weight: 500;
  text-decoration: none;
}
.top .pull-right a:visited {
  color: #432b23;
  text-decoration: none;
}
.top .pull-right a:nth-child(-n+2) {
  border-right: solid 1px #432b23;
}
.top .pull-right input.search {
  margin-left: 2rem;
  border-width: 0;
  border-radius: 1rem;
  background: white;
  padding: 1rem;
  border: solid 2px rgba(67, 43, 35, 0.7);
}
.top::after {
  content: " ";
  display: block;
  clear: both;
}
header {
  height: 800px;
}
section {
  min-height: 400px;
  padding: 4em 0;
}
section h1 {
  text-transform: uppercase;
  text-align: center;
}
.grid::after {
  display: block;
  content: " ";
  clear: both;
}
.normal {
  background-color: #fcfae3;
  color: #282828;
}
.dark {
  background-color: #6e5745;
  color: white;
  padding: 12em 0;
}
.title {
  margin-top: 3em !important;
  max-width: 80%;
  margin: auto;
}
.square {
  width: 14.28571429%;
  padding-bottom: 14.28571429%;
  cursor: pointer;
  height: 0;
  overflow: hidden;
  display: inline-block;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.square .mask {
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(67, 43, 35, 0.8);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 1.2em;
  margin: auto;
  display: table;
  height: 100%;
  width: 100%;
}
.square .mask .center {
  vertical-align: middle;
  display: table-cell;
  max-width: 80%;
}
.square:hover .mask {
  opacity: 1;
}
.whole_grid {
  border: solid 1px #432b23;
}
.whole_grid h5 {
  text-align: center;
  font-size: 1.2em;
}
.whole_grid h5 a,
.whole_grid h5 a:visited,
.whole_grid h5 a:active {
  color: #432b23;
}
.whole_grid h5 a:hover,
.whole_grid h5 a:focus {
  color: #865646;
  text-decoration: none;
}
.course-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
  margin: auto;
}
.course {
  padding-top: 1em;
  cursor: pointer;
  border: solid 1px #432b23;
  height: 70px;
  overflow: hidden;
  display: inline-block;
  width: 14.28571429%;
  float: left;
}
.course h5 {
  text-align: center;
}
.courses::after {
  content: " ";
  display: block;
  clear: both;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover,
footer a:active,
footer a:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
footer .address a:nth-of-type(n+2)::before {
  content: '|';
  margin: 0 0.5em;
}
footer .contact {
  float: right;
  margin-right: 40px;
}
footer .qrcode {
  position: relative;
}
footer .qrcode.book img {
  right: 105px;
}
footer .qrcode img {
  position: absolute;
  display: block;
  right: 30px;
  bottom: 0;
  width: 125px;
  opacity: 0;
  /*z-index: -1;*/
}
footer img:hover + .qrcode img {
  display: block;
  opacity: 1;
  right: 65px;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
footer img:hover + .qrcode.book img {
  right: 130px;
}
footer {
  background-color: #6e5745;
  color: white;
  height: 220px;
  padding-top: 1em;
  padding-right: 1em;
  border-top: #2f251e;
}
