// out: app.css
header{
    background-image: url(img/bg.jpg);
    background-size: cover;
}
.top{
	padding-top: 2rem;
	padding-bottom: 1rem;
	.pull-right{
		margin-top: 1.6rem;
		a{
			text-align: center;
			margin: 0;
			padding: 0 2rem;
			color: black;
			text-decoration: none;
			&:hover{
				color: black;
				font-weight: 500;
				text-decoration: none;
			}
			&:visited{
				color: black;
				text-decoration: none;
			}
			&:nth-child(-n+2){
				border-right: solid 1px black;
			}
		}
		input.search{
			margin-left: 2rem;
			border-width: 0;
			border-radius: 1rem;
			background: white;
			padding: 1rem;
			border: solid 2px #BBD2DE;
		}
	}
	&::after{
		content: " ";
		display: block;
		clear: both;
	}
}
header{
    height: 800px
}
section{
    min-height: 400px;
    padding: 4em 0;
    h1{
        text-transform: uppercase;
        text-align: center;
    }
}
.normal{
    background-color: #fcfae3;
    color: #282828;
}
.dark{
    background-color: #6e5745;
    color: white;
    padding: 12em 0;
}
.title{
    margin-top: 3em !important;
    max-width: 80%;
    margin: auto;
}
@link_color: #432b23;
.square{
    width: 100/7%;
    padding-bottom: 100/7%;
    cursor: pointer;
    height: 0;
    overflow: hidden;
    display: inline-block;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .mask{
        opacity: 0;
        transition: opacity 0.5s;
        background: fade(@link_color, 80%);
        color: white;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        text-align: center;
        font-size: 1.2em;
        margin: auto;
        display: table;
        height: 100%;
        width: 100%;
        .center{
            vertical-align: middle;
            display: table-cell;
            max-width: 80%;
        }
    }

    &:hover{
        .mask{
            opacity: 1;
        }
    }

}

.whole_grid{
    h5{
        text-align: center;
        font-size: 1.2em;
        a, a:visited, a:active{
            color: @link_color;
        }
        a:hover, a:focus{
            color: lighten(@link_color, 20%);
            text-decoration: none;
        }
    }
    border: solid 1px @link_color;
}
.course-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    margin: auto;

}
.course{
    h5{
        text-align: center;
    }
    padding-top: 1em;
    cursor: pointer;
    border: solid 1px @link_color;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    width: 100/7%;
    float: left;
}
.courses::after{
    content: " ";
    display: block;
    clear: both
}
